version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - postgres
    environment:
      # Tell .NET the environment
      ASPNETCORE_ENVIRONMENT: "Production"

      # Connection string to Postgres (use service name as host)
      ConnectionStrings__Default: "Host=postgres;Port=5432;Database=mydb;Username=postgres;Password=admin"
    ports:
      - "8080:8080"
    networks:
      - appnet

networks:
  appnet:

volumes:
  pgdata:
